//@import '~@angular/material/theming';
//@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.weather-detail-dialog .mat-dialog-container{
  padding: 5px;
}

.weather-detail-dialog .mat-dialog-title{
  margin: -5px -5px 0 -5px;
  padding: 5px;
  //background-color: map-get($color-primary, 100);
  background-color: #673ab7;
  color: #ffff;
}

.weather-detail-dialog .mat-dialog-content{
  padding: 10px 10px 5px 10px;
  margin:  0;//5px -24px;
}
