<div *ngIf="forecastOffice">
  <mat-card>
    <mat-card-header style="margin-top: -.5rem">
      <mat-card-title-group style="display: flex; flex-flow: row nowrap; align-items: center;">
        <mat-card-title style="margin-bottom: 0;">
          {{forecastOffice.name}}
        </mat-card-title>
      </mat-card-title-group>
      <div style="flex: auto"></div>
      <button mat-icon-button (click)="refresh()" title="Refresh"><mat-icon>refresh</mat-icon></button>
    </mat-card-header>

    <mat-card-content>

      <div class="content">
        <div class="card" *ngFor="let period of forecastDetails.properties.periods">
          <mat-card class="mat-elevation-z4 clickable-card" (click)="showDetail(period)">
            <mat-card-header style="justify-content: center;">
              <mat-card-title>
                {{period.name}}
              </mat-card-title>
            </mat-card-header>
            <mat-card-content style="display:flex; flex-direction: column;">
              <div style="text-align: center; display: flex; flex-flow: column nowrap;">
                <p>
                  <img [src]="period.icon" [alt]="period.shortForecast" />
                </p>
                <div>
                  {{period.shortForecast}}
                </div>
              </div>
            </mat-card-content>
            <mat-card-footer>
              <div style="display: flex; justify-content: center; align-items: flex-end;">
                {{period.isDaytime == true ? "High" : "Low"}} {{period.temperature}}{{period.temperatureUnit == "F" ? "&#8457;" : "&#8451;"}}
              </div>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>

      <mat-selection-list [multiple]="false" (selectionChange)="onPeriodSelected($event)">
        <mat-list-option *ngFor="let period of forecastDetails.properties.periods" [value]="period">
          <div style="display: flex; flex-direction: row;">
            <div>
              <img matListAvatar  [src]="period.icon.replace('medium','small')" [alt]="period.shortForecast" />
            </div>
            <div style="padding-left: 10px;">
              <div>
                {{period.name}}
              </div>
              <div>
                {{period.shortForecast}}
              </div>
            </div>
          </div>
          <!-- <mat-divider></mat-divider> -->
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>

  <h1>Forecast Details</h1>
  <pre><code>{{ forecastDetails | json }}</code></pre>

  <h1>Forecast Office</h1>
  <pre><code>{{ forecastOffice | json }}</code></pre>

  <h1>Grid Details</h1>
  <pre><code>{{ gridDetails | json }}</code></pre>

</div>
