<div mat-dialog-title style="display: flex; flex-direction: row; justify-content: space-between;">
  <h1 style="padding: 4px 0 0 0; margin: 0;">
    {{data.name}}
  </h1>
  <div>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
</div>

<mat-dialog-content class="mat-typography">

  <div class="dialog-content">
    <div class="image">
      <img [src]="data.icon.replace('medium','large')" [alt]="data.shortForecast" />
    </div>
    <div class="weather-details">
      <p>{{data.isDaytime == true ? "High" : "Low"}} {{data.temperature}}&#176;{{data.temperatureUnit}}</p>
      <p>{{data.windSpeed}} {{getWindDirection(data.windDirection)}}</p>
      <p>{{data.detailedForecast}}</p>
    </div>
  </div>


  <!-- <pre><code>{{ data | json }}</code></pre> -->

</mat-dialog-content>
