<div mat-dialog-title style="display: flex; flex-direction: row; justify-content: space-between;">
  <h1 style="padding: 0; margin: 0;">
    {{data.name}}
  </h1>
  <div>
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
</div>

<mat-dialog-content class="mat-typography">

  <div class="dialog-content">
    <div>
      <img [src]="data.icon.replace('medium','large')" [alt]="data.shortForecast" />
    </div>
    <div style="padding-left: .5rem;">
      <h2>{{data.isDaytime == true ? "High" : "Low"}} {{data.temperature}}{{data.temperatureUnit == "F" ? "&#8457;" : "&#8451;"}}</h2>
      <h2>{{data.windSpeed}} {{getWindDirection(data.windDirection)}}</h2>
    </div>
  </div>
  <p style="font-size: 1.1rem; padding-top: 1rem;">{{data.detailedForecast}}</p>

  <!-- <pre><code>{{ data | json }}</code></pre> -->

</mat-dialog-content>
