.dialog-content {
  display: flex;
  flex-direction: row;
}

//////////////////////////////
// Using Min-width

@media only screen and (max-width: 600px) {
  .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-details{
    text-align: center;
  }
}

/* SM - Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .weather-details{
    padding-left: 10px;
  }
}

/* MD - Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* LG - Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* XL - Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
