
/*
*/
#wwa {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#wwa li {
  list-style-type: none;
  margin: .5em .5em 0 -3.4em;
  font-size: 10px;
  text-align: left;
}

.wwabox {
  width: 15px;
  height: 15px;
  border: solid 1px black;
  border-radius: 50%;
  margin-right: 2px;
  float: left;
}
