
/*
*/
ul#wwa {
  max-width: 800px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

ul#wwa li {
  padding: 0;
  margin-top: .25rem;
  width: 150px;
  list-style-type: none;
  font-size: 10px;
}

.wwabox {
  width: 15px;
  height: 15px;
  border: solid 1px black;
  border-radius: 50%;
  margin-right: 2px;
  float: left;
}
