.USMap {
  position: relative;
}
#us {
  border: 1px solid #cccccc;
  height: auto;
  width: 800px;
  max-width: 100%;
}
#alaska {
  position: absolute;
  bottom: 6px;
  left: 0px;
  z-index: 1;
  border: 1px solid #cccccc;
  width: auto;
  height: 115px;
  max-height: 115px;
}
#hawaii {
  position: absolute;
  bottom: 6px;
  left: 153px;
  z-index: 1;
  border: 1px solid #cccccc;
  width: auto;
  height: 115px;
  max-height: 115px;
}
